
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-content"/>
    <title>Language Features</title>
</head>
<body>
    <h1>BOOM!</h1>
</body>
</html>